<p>{{questionText}}<span class="required" ng-show="required">&nbsp;&nbsp;*</span></p>

<div>
    <p>
        <input class="boolQuestion" name="boolGroup{{questionIndex}}" type="radio" ng-model="response.booleanAnswer" value="true" ng-required="required"><span class="radioLabel">Yes</span>
    </p>
    <p>
        <input class="boolQuestion" name="boolGroup{{questionIndex}}" type="radio" ng-model="response.booleanAnswer" value="false" ng-required="required"><span class="radioLabel">No</span>
    </p>
</div>