<p ng-class= "{bright_red: notAnswered[questionIndex]}">{{questionText}}<span class="required" ng-show="required">&nbsp;&nbsp;*</span></p>
<div class="range-field">
    
        <input type="range" name="slider{{questionIndex}}" ng-model="response.numericAnswer" min="{{lowValue}}" max="{{highValue}}">
        <span class="slider_left">Not very well</span> 
        <span class="slider_right">Super very well</span>
        <img class="slider_left_img" src="/images/dislike_emoticon.jpg" width="60">
        <img class="slider_right_img" src="/images/smiley_emoticon.jpg" width="70">
   
</div>