<header class="surveyHeader">
    <img class="logo" src="/images/devmountain_logo_whitetext.png" height="70">
    <div class="headerTitle">Surveys Requested</div>
    <div class="student_logout" ng-click="studentLogout()">Logout</div>
</header>

<div id="studentMain" class="surveyContainer">
    <div class="container">
        <h4>Surveys Requested: </h4>
        <div class="" ng-repeat="survey in untakenSurveys">
            <a ui-sref="takeSurvey({surveyId: survey._id})">{{survey.name}}</a>
        </div>
        
        <br><br>
    </div>
</div>

