<div id="takeSurvey" class="container">
    
    <h4><span class="left">Name:</span>{{survey.name}}</h4>
    <h4><span class="left">Description:</span>{{survey.description}}</h4>
    <h4><span class="left">Topic:</span>{{survey.topic}}</h4>
    <br><br>
    <p class="required"> * Required</p>
    <br> 
    <form action="#">
        <div ng-repeat = "question in survey.questions">
            <numeric-question low-range="question.lowRange" high-range="question.highRange" required="question.required" question-text="{{question.questionText}}" response="response" question-index="{{$index}}" question-type="{{question.type}}" ng-show="question.type === 'numeric'"></numeric-question>
            <boolean-question required="question.required" question-text="{{question.questionText}}" response="response" question-index="{{$index}}" question-type="{{question.type}}" ng-show="question.type === 'boolean'"></boolean-question>
            <text-question required="question.required" question-text="{{question.questionText}}" response="response" question-index="{{$index}}" question-type="{{question.type}}"ng-show="question.type === 'text'"></text-question>
        </div>
        <input type="submit">
    </form>
            
</div>    