<div id="takeSurvey" class="container">
    
    <p>Instructor: {{instructor}}</p>
    <p>Topic: {{topic}}</p>
    <br><br>
    <p> * Required</p>
    <br> 
    <form action="#">
        <div ng-repeat = "question in survey.questions">
            <p>{{question.questionText}}</p>
            <p>Index: {{$index}}</p>
            <p>
                <input type="radio" name="group{{$index}}" id="selection{{$index}}1">
                <label for="selection{{$index}}1">1</label>Not very well
            </p>
            <p>
                <input type="radio" name="group{{$index}}" id="selection{{$index}}2">
                <label for="selection{{$index}}2">2</label>
               
            </p>
                <input type="radio" name="group{{$index}}" id="selection{{$index}}3">
                <label for="selection{{$index}}3">3</label>
                
            <p>
                <input type="radio" name="group{{$index}}" id="selection{{$index}}4">
                <label for="selection{{$index}}4">4</label>
                
            </p>
            <p>
                <input type="radio" name="group{{$index}}" id="selection{{$index}}5">
                <label for="selection{{$index}}5">5</label>Super very well
               
            </p>
            <br>
        </div>
        <input type="submit">
    </form>
            
</div>    