* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

/* #takeSurvey label {
    margin-right: 20px;
} */

#takeSurvey h4 {
    font-family: Arial;
    font-size: 1.8em;
    color: rgb(0, 25, 100);
}

#takeSurvey h4 .left {
    color: maroon;
    margin-right: 10px;
}

#takeSurvey p {
    font-family: 'Times New Roman';
    font-size: 1.4em;
}

#takeSurvey .required {
    color: orangered;
}

#takeSurvey .survey-question {
    margin-bottom: 100px;
}

#takeSurvey .range-field {
    position: relative;
    height: 40px;
    width:  60%;
}

#takeSurvey .slider_left {
    position: absolute;
    left: 0;
    top: 30px;
    font-family: Arial;
    font-size: 0.7em;
}

#takeSurvey .slider_right {
    position: absolute;
    right: 0;
    top: 30px;
    font-family: Arial;
    font-size: 0.7em;
} 

#takeSurvey .boolQuestion {
    visibility: visible;
    position: static;
    margin-right: 10px;
}


#takeSurvey .radioLabel {
    font-family: Arial;
    font-size: 0.9em;
}

#takeSurvey .button {
    width: 80px;
    font-family: Arial;
    font-size: 1.2em;
    margin-bottom: 40px;
    margin-top: -20px;
}

