<header class="surveyHeader">
    <img class="logo" src="/images/devmountain_logo.png" height="70">
    </img>
    <div class="headerTitle">Admin Main Menu</div>
</header>

<div id="adminMain" class="surveyContainer">
    <div class="container">
        <ul>
            <li><a ui-sref="createModifyTemplate">Create / Modify Template</a></li>
            <li><a ui-sref="sendSurvey">Send Survey</a></li>
            <li><a ui-sref="viewResults">View Results</a></li>
            <li><a ui-sref="updateTopics">Update Topics</a></li>
            <li><a ui-sref="deleteTemplate">Delete Template</a></li>
        </ul>
    </div>
</div>

