<header class="surveyHeader">
    <img class="logo" src="/images/devmountain_logo_whitetext.png" height="70">
    <div class="headerTitle">Admin Main Menu</div>
    <div class="admin_logout" ng-click="adminLogout()">Logout</div>
</header>

<div id="adminMain" class="surveyContainer">
    <div class="container">
        <ul>
            <li><a ui-sref="createModifyTemplate">Create / Modify Template</a></li>
            <li><a ui-sref="sendSurvey">Send Survey</a></li>
            <li><a ui-sref="viewResults">View Results</a></li>
        </ul>
    </div>
</div>

