<div class="navbar-fixed">
    <header class="surveyHeader">
        <img class="logo" src="/images/devmountain_logo_whitetext.png" height="70">
        <div class="headerTitle">Create / Modify Template</div>
        <div class="admin_logout" ng-click="adminLogout()">Logout</div>
    </header>
</div>

<div id="createModifyTemplate" class="surveyContainer">
    <div class="container">
        
        <p>Select Template:</p>
        <div class="row">
            <div class="input-field col s6">
                <select id="choose_template" ng-options="templ.name for templ in templates" ng-model="selectedTemplate" ng-change="loadSelectedTemplate()">
                    <option value="" disabled selected>Select Template</option>
<!--                    <option ng-repeat="template in templates" value="{{template._id}}">{{template.name}}</option>
                    </div>-->
                </select>
                <!--label>Select Template</label>-->
            </div>
        </div>
        
        
        <form ng-submit="processForm()">

            <p>Name:</p>
            <div class="row">
                <div class="input-field col s6">
                      <input ng-model="template.name" type="text" id="templateName">
                      <!--<label for="templateName">Type Name Below</label>-->
                </div>
            </div>

            <p>Description:</p>
            <div class="row">
                <div class="input-field col s6">
                      <input ng-model="template.description" type="text" id="templateDescription">
                      <!--<label for="tempateDescription">Type Description Below</label>-->
                </div>
            </div>

                       
            

            <div ng-repeat="question in template.questions">
                <question-crud question="question" question-types="quest_types" question-index="$index" delete-question="deleteQuestion(indx)"></question-crud>
            </div>
            
            <button class="button" type="button" ng-click="addNewQuestion()">Add New Question</button>
            <br>
            <p class="error_msg" ng-show="errorMsg">{{errorMsg}}</p>
            <button class="button" type="submit">Save</button>

        </form>
        
        
    </div>
</div>
