<div class="navbar-fixed">
    <header class="surveyHeader">
        <img class="logo" src="/images/devmountain_logo.png" height="70">
        </img>
        <div class="headerTitle">Create / Modify Template</div>
    </header>
</div>

<div id="createModifyTemplate" class="surveyContainer">
    <div class="container">
        
        <div class="row">
            <div class="input-field col s12">
                <select id="choose_template" ng-options="template.name for template in templates" ng-model="selectedTemplate" ng-change="loadSelectedTemplate()">
                    <option value="" disabled selected>Select Template to Load</option>
<!--                    <option ng-repeat="template in templates" value="{{template._id}}">{{template.name}}</option>
                    </div>-->
                </select>
                <label>Select Template to Load</label>
            </div>
        </div>
        
        
        <form ng-submit="processForm()">

            <p>Name:</p>
            <div class="row">
                <div class="input-field col s12">
                      <textarea ng-model="template.name" id="templateName" class="materialize-textarea" ng-required="required"></textarea>
                      <label for="templateName">Type Name Below</label>
                </div>
            </div>

            <p>Description:</p>
            <div class="row">
                <div class="input-field col s12">
                      <textarea ng-model="template.description" id="templateDescription" class="materialize-textarea" ng-required="required"></textarea>
                      <label for="tempateDescription">Type Description Below</label>
                </div>
            </div>

            <!--<div ng-repeat="question in questions">-->
                <question-crud></question-crud>
            <!--</div>-->
           
            <button ng-click="addNewQuestion()">Add New Question</button>

                  
            <br><br>         
            <button class="button" type="submit">Save</button>

        </form>
        
        
    </div>
</div>
