<div class="question_crud">
                
   
    <p class="bold_text">Question Text:</p>
    <div class="row">
        <div class="input-field col s6">
            <input ng-model="question.questionText" type="text" id="questionText{{questionIndex}}" required>
        </div>
        <div class="input-field col s6">
            <img class="delete_icon" ng-click="deleteQuestion({indx: questionIndex})" ng-src="images/delete_icon.jpg" height="20">
        </div>
    </div>

    <p>Choose Question Type:</p>
    <div class="row">
        <div class="input-field col s6">
            <select id="choose_question_type" ng-model="question.type" ng-options="type for type in questionTypes" ng-change="updateQuestionType()">
                 <option value="" disabled selected>Choose Question Type</option>
            </select>
        </div>
    </div>

    <div class="row">
        <p>
          <input type="checkbox" ng-model="question.required" id="questionRequired{{questionIndex}}"/>
          <label for="questionRequired{{questionIndex}}">Required?</label>
        </p>
    </div>

    <div ng-show="question.type==='numeric'">
        <p>Low Value:</p>
        <div class="row">
            <div class="input-field col s6">
                  <input ng-model="question.lowValue" type="number" id="questionLowValue{{questionIndex}}"></textarea>
            </div>
        </div>

        <p>High Value:</p>
        <div class="row">
            <div class="input-field col s6">
                  <input ng-model="question.highValue" type="number" id="questionHighValue{{questionIndex}}"></textarea>
            </div>
        </div>
    </div>


</div>
            