<div class="navbar-fixed">
    <header class="surveyHeader">
        <img class="logo" src="/images/devmountain_logo.png" height="70">
        </img>
        <div class="headerTitle">Send Survey</div>
    </header>
</div>

<div id="sendSurvey" class="surveyContainer">
    <div class="container">
        
        <p>Select Template:</p>
        <div class="row">
            <div class="input-field col s6">
                <select id="choose_survey_template" ng-options="templ.name for templ in templates" ng-model="selectedTemplate" ng-change="loadSelectedTemplate()">
                    <option value="" disabled selected>Select Template</option>
                </select>
                <!--<label>Select Template</label>-->
            </div>
        </div>
        
        <form ng-submit="processForm()">
                
                        
            <p>Survey Name:</p>
                <div class="row">
                    <div class="input-field col s6">
                          <input ng-model="survey.name" type="text" id="surveyName">
                </div>
            </div>    

            <p>Survey Description:</p>
                <div class="row">
                    <div class="input-field col s6">
                          <input ng-model="survey.description" type="text" id="surveyDescription">
                </div>
            </div>    

            <p ng-show="var_names.length">Variables:</p>
            <div ng-repeat="var_name in var_names" class="row">

                <div class="input-field col s6">
                   <p>{{var_name}}:</p>
                      <input ng-model="var_values[$index]" type="text" id="var_value{{$index}}">
                </div>
            </div>
            
            <p>Select Topic:</p>
            <div class="row">
                <div class="input-field col s6">
                    <select id="choose_survey_topic" ng-options="topic.name for topic in topics" ng-model="survey.topic">
                        <option value="" disabled selected>Select Topic</option>
                    </select>
                    <!--<label>Select Topic</label>-->
                </div>
            </div>
        
            <p>Send to (cohort ID):</p>
                <div class="row">
                    <div class="input-field col s6">
                          <input ng-model="survey.cohortSentTo" type="number" id="cohort_sentTo">
                    </div>
                </div>    
            
           
                
            <button class="button" type="button" ng-click="previewSurvey()">Preview</button>
            <br>     
            <preview-survey survey-name="{{prevSurvey.name}}" survey-description="{{prevSurvey.description}}" survey-topic="{{prevSurvey.topic.name}}" survey-questions="prevSurvey.questions" ng-show="previewSelected"></preview-survey>
            <button class="button" type="submit">Send</button>

        </form>
        
        
    </div>
</div>
