<div class="navbar-fixed">
    <header class="surveyHeader">
        <img class="logo" src="/images/devmountain_logo.png" height="70">
        </img>
        <div class="headerTitle">Send Survey</div>
    </header>
</div>

<div id="sendSurvey" class="surveyContainer">
    <div class="container">
        
        <div class="row">
            <div class="input-field col s6">
                <select id="choose_survey_template" ng-options="templ.name for templ in templates" ng-model="selectedTemplate" ng-change="loadSelectedTemplate()">
                    <option value="" disabled selected>Select Template</option>
                </select>
                <label>Select Template</label>
            </div>
        </div>
        
        <form ng-submit="processForm()">
                
                        
            <p>Name:</p>
                <div class="row">
                    <div class="input-field col s6">
                          <input ng-model="survey.name" type="text" id="surveyName">
                </div>
            </div>    

            <p>Description:</p>
                <div class="row">
                    <div class="input-field col s6">
                          <input ng-model="survey.description" type="text" id="surveyName">
                </div>
            </div>    

            <p>Variables:</p>
            <div ng-repeat="var in vars" class="row">

                <div class="input-field col s6">
                   <p>{{var}}:</p>
                      <input ng-model="survey.var[$index]" type="text" id="surveyVar{{$index}}">
                </div>
            </div>
            
            <div class="row">
                <div class="input-field col s6">
                    <select id="choose_survey_topic" ng-options="topic.name for topic in topics" ng-model="selectedTopic">
                        <option value="" disabled selected>Select Topic</option>
                    </select>
                    <label>Select Topic</label>
                </div>
            </div>
        
            <p>Send to:</p>
                <div class="row">
                    <div class="input-field col s6">
                          <input ng-model="survey.sentTo" type="text" id="survey_sentTo">
                    </div>
                </div>    
            
           
                
            <button class="button" type="button">Preview</button>
            <br>     
            <button class="button" type="submit">Send</button>

        </form>
        
        
    </div>
</div>
