<div class="navbar-fixed">
    <header class="surveyHeader">
        <img class="logo" src="/images/devmountain_logo.png" height="70">
        </img>
        <div class="headerTitle">View Survey Results</div>
        <div class="admin_logout" ng-click="adminLogout()">Logout</div>
    </header>
</div>

<div id="viewSurveyResults" class="surveyContainer">
    <div class="container">
    
        
        <p>Select Survey:</p>
        <div class="row">
            <div class="input-field col s6">
                <select id="choose_survey" ng-options="surv.nameDate for surv in displaySurveys" ng-model="selectedSurvey" ng-change="loadSelectedSurvey()">
                    <option value="" disabled selected>Select Survey<option>
                </select>
                <!--<label>Select Template</label>-->
            </div>
        </div>
        
       
                        
        <h4 ng-show="survey">Survey Name: {{survey.name}}</h4>
        <h4 ng-show="survey">Survey Description: {{survey.description}}</h4>
        <h4 ng-show="survey">Survey Topic: {{topic[0].name}}</h4>
        <br><br>
        <h4 ng-show="survey">Report of Users Sent Survey</h4>
       
        <div ng-show="survey" id="user_report" class="user_report_grid" ui-grid="user_report_options" ui-grid-resize-columns></div>
        <br<br><br>
        <h4 ng-show="survey">Questions and Answers</h4>
        <div ng-show="survey" id="q_a" class="q_a_grid" ui-grid="q_a_options" ui-grid-resize-columns ui-grid-exporter></div>
              
   </div>
</div>
